.vscode/*
/__pycache__/*
*/__pycache__/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/
.vscode/launch.json
.google-cookie
*.cpython-38.pyc

# # CSV Files I don't want Uploaded
*.csv